body {
    margin:0;
    font-family:'Tajawal', sans-serif;
    background:#f5f7f6;
}

.container {
    display:flex;
    height:100vh;
}

/* LEFT */
.left {
    flex:1;
    background:linear-gradient(#1f3d2b,#2f6b4f);
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.logo {
    width:120px;
    margin-bottom:20px;
}

/* RIGHT */
.right {
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:60px;
}

.right h2 {
    margin-bottom:20px;
}

input, select {
    margin-bottom:15px;
    padding:12px;
    border-radius:8px;
    border:1px solid #ddd;
}

button {
    padding:12px;
    background:#2f6b4f;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

.link {
    margin-top:15px;
}